@charset "UTF-8";

/* Aparelho em pé (portrait) */

body{
    background-image: url(../imagens/curiosidades-professor-gustavo-guanabara-gimp.png);
    background-repeat: no-repeat;
    background-size: cover;
}